body{
    margin: 0px 0 75px 0;
}
#content{
    margin: 0;
    padding-top: 130px;
}
#content-sub{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5px;


}
#grid{
    width: 100%;
    margin-top: 20px;
    overflow:hidden;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

#text_div{
    width: 500px;
    margin: 20px;
    /*height: 400px;*/
}
#contact_div{
    width: 500px;
    margin: 20px;
    text-align: center;
}

#contact_list {
    text-align: left;
}
#contact_title{
    text-align: center;
    margin: 0 auto;
}
.email_input{
    width: 100%;
    margin: 10px auto 10px auto;
    background-color: #353535;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: -5px;
}
.email_input:focus{
    outline: 0px;
    border: 1px solid #808080;

}

#name, #email,#subject{
    height: 30px;
    font-family: 'Ubuntu', san-serif;
}
#message{
    font-family: 'Ubuntu', san-serif;
    height: 200px;
    resize: none;
    padding-top: 5px;
}
#submit_email{
    font-family: 'Ubuntu', san-serif;
    width: 100px;
    font-size: 20px;
    background-color: #353535;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    cursor: hand;
}
#submit_email:focus{
    outline: 0px;
    border: 1px solid #808080;
}