body{
    margin: 0px 0 75px 0;
}
#content{
    margin: 0;
    padding-top: 130px;
}
#content-sub{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5px;
}
a{
    text-decoration: none;
    color: inherit;
}

.resource_div{
    margin-left: 45px;
}
.category_hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #808080;
    margin: 1em 0;
    padding: 0;
}
body.mobile .resource_div{
    margin-left: 20px;
}
.resource{
    display: inline;
}
.resource:hover{
    color: rgb(200,200,200);
}
.resource_text{
    display: inline;
    color: #808080;
}
