body{
    margin: 0px 0 75px 0;
}
#content{
    margin: 0;
    padding-top: 130px;
}
#content-sub{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5px;

}
#back_link{
    position: absolute;
    left: 80px;
    color: white;
    top: 100px;
}
#back_link a{
    color: white;
}
#back_link img{
    height: 20px;
    margin-bottom: -5px;
}