body{
    margin: 0px 0 75px 0;
}
#content{
    margin: 0;
    padding-top: 130px;
}
#content-sub{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5px;
}
#club-photos{
    padding-bottom: 10px;
}

#history{
    width: 100%;

}
.event{
    width: 75%;
    margin-left: 12.5%;
    position: relative;
}
.event_left h1{
    position: absolute;
    left: 10px;
}
.event_right h1{
    position: absolute;
    right: 10px;
}