body{
    margin: 0px 0 75px 0;
}
#content{
    margin: 0;
    padding-top: 130px;
}
#content-sub{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5px;
}
#club-photos{
    padding-bottom: 10px;
}

#history{
    width: 100%;

}
#purpose{
    margin-bottom: 50px;
}
.event{
    margin-bottom: 50px;
}
.event_left, .event_right{
    position: relative;
    width: 90%;
    margin-left: 5%;
    overflow:hidden;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;

}
.event_img img{
    height: 250px;
}
.event_text, .event_img{
    position: relative;
    width: 50%;
    min-width: 400px;
    margin: 0;
    text-align: center;
}

body.mobile .event_text{
    min-width: 0;
    width: 300px;
}


@media screen and (min-width: 1005px ){
    .event_left .event_img{
        position: absolute;
        left: 50%;
    }
    .event_left .event_text{
        position: absolute;
        right: 50%;
    }
    .event_left, .event_right{
        height: 350px;
    }

}

#photo_grid{
    position: relative;
    width: 90%;
    margin-left: 5%;
    overflow:hidden;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}

.photo_item{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    border: 1px solid black;
}
.photo_item:hover{
    cursor: hand;
    cursor: pointer;
}
