* {
    box-sizing: border-box;
}

body{
    margin: 0px 0 75px 0;
}
#content{
    margin: 0;
    padding-top: 130px;
    padding-bottom: 50px;
}
#content-sub{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5px;

}




/* ---- grid ---- */

.grid {
    width: 90%;
    display: flex;
    margin: 0 auto;
    justify-content: center;

}


/* ---- .element-item ---- */

/* 5 columns, percentage width */
.grid-sizer,
.grid-item {
    width: 200px;
}

.grid-item {
    display: inline-block;
    height: 200px;
    background: gray;
    border: 1px solid black;
    border-radius:5px;
}


.grid-item--width2 { width: 400px; }
.grid-item--height2 { height: 400px; }
.grid-item--width3 { width: 600px; }
.grid-item--height3 { height: 600px;}
