* {
    box-sizing: border-box;
}

body{
    margin: 0px 0 75px 0;
}
#content{
    margin: 0;
    padding-top: 130px;
    padding-bottom: 50px;
}
#content-sub{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5px;
}

#menu_grid{
    position: relative;
    width: 100%;
    overflow:hidden;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.tab_item{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    cursor: hand;

}

h2.selected_tab{
    text-decoration: underline;
}
.tab_item_div{
    display: none;
    text-align: center;

}
.selected_div{
    display: block;
    width: 90%;
    margin-left: 5%;
}

.grid{
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    overflow:hidden;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.grid_div{
    margin: 10px;
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
}
.div_overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    cursor: hand;
}
.edit_button{
    position: absolute;
    bottom: 10px;
    width: 50px;
    left: 50%;
    margin-left: -25px;

}
.admin_form{
    background-color: rgba(0,0,0,.5);
    width: 400px;
    margin: 10px;
    border-radius: 10px;
}
.add_icon{
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    cursor: pointer;
    cursor: hand;
}
.admin_form input, .admin_form select{
    margin: 10px;
}
.admin_form img{
    height: 100px;
}
.admin_form .long_desc{
    width: 90%;
    height: 200px;
    resize: none;
}
.admin_form .short_desc{
    width: 90%;
    height: 50px;
    resize: none;
}
.small{
    height: 150px;
    width: 150px;
}
.click_to_edit{
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: grey;
    display: none;
}
.div_overlay:hover{
    background-color: rgba(0,0,0,.8);
}
.div_overlay:hover .click_to_edit{
    display: block;
}