* {
    box-sizing: border-box;
}
body{
    margin: 0px 0 75px 0;
    overflow: auto;
}
.no_scroll{
    overflow: hidden;
}
#content{
    margin: 0;
    padding-top: 130px;
    padding-bottom: 50px;
}
#content-sub{
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5px;
}
#page_overlay{
    background-color: rgba(0,0,0,.7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    top: 0;
    left: 0;
    display: none;
}


/*menu selection items*/
#menu_grid{
    position: relative;
    width: 100%;
    overflow:hidden;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.tab_item{
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    cursor: hand;

}
h2.selected_tab{
    text-decoration: underline;
}
/*###########################*/


/*Divs that contain the forms*/
.tab_item_div{
    display: none;
    text-align: center;
}
.selected_div{
    display: block;
    width: 90%;
    margin-left: 5%;
}
.grid{
    position: relative;
    width: 100%;
    padding-bottom: 50px;
    overflow:hidden;
    display: flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content: center;
    -webkit-justify-content: center;
}
.grid_div{
    margin: 10px;
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
}
.div_overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(0,0,0,.5);
    cursor: pointer;
    cursor: hand;
}
.edit_button{
    position: absolute;
    bottom: 10px;
    width: 50px;
    left: 50%;
    margin-left: -25px;

}
#home_page_form{
    background-color: rgba(0,0,0,.5);
    width: 400px;
    margin: 10px;
    border-radius: 10px;
}
#home_page_form input, #home_page_form select{
    margin: 10px;
}
.form_div{
    z-index: 2;
    position: fixed;
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -300px;
    background-color: rgba(40,40,40,1);
    width: 600px;
    height: 600px;
    overflow-y: auto;
    border-radius: 10px;

}
body.mobile .form_div{
    width: 100%;
    left: 0;
    height: 600px;
    margin-left: 0;
    overflow-y: scroll;
}
.admin_form input, .admin_form select{
    margin: 10px;
}
.admin_form img{
    height: 100px;
}
.admin_form .long_desc{
    width: 90%;
    height: 200px;
    resize: none;
}
.admin_form .short_desc{
    width: 90%;
    height: 50px;
    resize: none;
}
.add_icon{
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    cursor: pointer;
    cursor: hand;
}
.click_to_edit{
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: grey;
    display: none;
}
.div_overlay:hover{
    background-color: rgba(0,0,0,.8);
}
.div_overlay:hover .click_to_edit{
    display: block;
}
#error_message{
    position: fixed;
    height: 200px;
    width: 600px;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    margin-left: -300px;
    background-color: #353535;
    color: red;
    z-index: 5;
    text-align: center;
    border-radius: 10px;

}
#close_error{
    font-family: 'Ubuntu', san-serif;
    width: 100px;
    font-size: 20px;
    background-color: #353535;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    cursor: hand;
}
#close_error:focus{
    outline: 0px;
    border: 1px solid #808080;
}